RewriteEngine on

AddHandler server-parsed .jpg, .jpeg, .png

RewriteCond %{HTTP_REFERER} !^http://quallytech.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://quallytech.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://quallytech.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://quallytech.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://queroquentinha.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://queroquentinha.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tic.net.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://tic.net.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ticnet.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ticnet.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.quallytech.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.quallytech.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.quallytech.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.quallytech.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.queroquentinha.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.queroquentinha.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tic.net.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.tic.net.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ticnet.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ticnet.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://quallytech.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://quallytech.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://quallytech.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://quallytech.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://queroquentinha.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://queroquentinha.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tic.net.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://tic.net.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ticnet.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ticnet.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.quallytech.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.quallytech.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.quallytech.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.quallytech.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.queroquentinha.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.queroquentinha.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tic.net.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.tic.net.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ticnet.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ticnet.ticnetba.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ticnetba.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.ticnetba.com.br$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
