@charset "ISO-8859-1";

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 12px !important;
}

.ui-grid-row .ui-grid-col-2, .ui-grid-row .ui-grid-col-10 {
	padding: 0.5em 0;
}

.ui-outputlabel {
	font-weight: bold;
}

.ui-orderlist .ui-orderlist-list {
	height: auto;
}

.ui-orderlist .ui-grid-row .ui-grid-col-2, .ui-orderlist .ui-grid-row .ui-grid-col-10
	{
	padding: 0;
}